<app-nav-bar></app-nav-bar>
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
          <div class="table-responsive">
            <table class="table user-list">
              <thead>
              <tr>
                <th><span>User</span></th>
                <th class="text-center"><span></span></th>
                <th><span>Email</span></th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let u of users">
                <td>
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                  <a class="user-link" >{{u.username}}</a>
                  <span class="user-subhead">{{u.address}}</span>
                </td>
                <td class="text-center">
                  <span class="label label-default" (click)="goTobloggerprofile(u.userid)" >View Profile</span>
                </td>
                <td>
                  <a href="#">{{u.email}}</a>
                </td>
                <td style="width: 20%;">
                  <a class="table-link">
                                            <span class="btn btn-success"(click)="addfriend(u.userid)">
                                                FOLLOW
                                            </span>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
