
<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Login To  <span class="blog text-danger">Bl</span>
          <img src="https://propeller.in/website/wp-content/uploads/2017/04/propeller-icon.svg" width="40" height="40" class="d-inline-block align-center" alt="">
          <span class="blog text-danger">gify</span></h2>
        <form class="login-form">
          <div class="form-group">
            <label  class="text-uppercase">E-Mail</label>
            <input type="text" class="form-control" placeholder="" name="username" [(ngModel)]="username">

          </div>
          <div class="form-group">
            <label  class="text-uppercase">Password</label>
            <input type="password" class="form-control" placeholder="" name="password"  [(ngModel)]="password">
          </div>


          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              <small>Remember Me</small>
            </label>
            <button type="submit" class="btn btn-login float-right" (click)="login()">Submit</button>
          </div>
          <div class="text-danger text-center mt-5" [routerLink]="['/signup']">Need an Account? Signup here </div>
        </form>

        <div class="copy-text">Created with <i class="fa fa-heart"></i> by RitiKa</div>
      </div>
      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<div class="footer-copyright text-center py-3 bg-dark text-light">©Contact: 855 6921070
  <a href="#"> Ritika.com</a>
</div>
