<app-nav-bar></app-nav-bar>
<div class="container mt-3">
  <div style="text-align:center">
    <h2>Create New Blog</h2>
    <p>Hold your pen And Get Started......</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="../../assets/images/createblog.png" style="width:100%;height: 90% ">
    </div>
    <div class="column">
      <form>
        <label for="fname">Blog Title</label>
        <input type="text" id="fname" name="title" placeholder="blog title" [(ngModel)]="title">
        <label for="lname">Category</label>
        <input type="text" id="lname" name="category" placeholder="blog category" [(ngModel)]="category">
        <label for="fname">Image</label>
        <input type="text" id="image" name="image" placeholder="../..assets/images/yourblogsimage.xyz" [(ngModel)]="image">
        <label for="subject">Description</label>
        <textarea id="subject" name="description" placeholder="Blog desceiption here...." style="height:170px" [(ngModel)]="description"></textarea>
        <div class="showalert" *ngIf="setblog">Blog Added Successfully...</div>
        <input type="submit" value="Submit" (click)="addblog()">
      </form>
    </div>
  </div>
</div>
