<nav class="navbar navbar-expand-sm bg-light justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link"><span class="blog text-danger">Bl</span>
        <img src="https://propeller.in/website/wp-content/uploads/2017/04/propeller-icon.svg" width="40" height="40" class="d-inline-block align-center" alt="">
        <span class="blog text-danger">gify</span> </a>
    </li>
  </ul>
</nav>
<hr class="border-bottom border-danger">
<div class="container-fluid bg-danger py-3">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card card-body">
        <h3 class="text-center mb-4">Sign-up</h3>
        <fieldset>
          <div class="form-group has-success">
            <input class="form-control input-lg" placeholder="Username" name="Username" [(ngModel)]="username" type="text">
          </div>
          <div class="form-group has-error">
            <input class="form-control input-lg" placeholder="E-mail Address" name="email" [(ngModel)]="email"type="text">
          </div>
          <div class="form-group has-success">
            <input class="form-control input-lg" placeholder="Password" name="password" [(ngModel)]="password" type="password">
          </div>
          <div class="form-group has-success">
            <input class="form-control input-lg" placeholder="Confirm Password" name="password" value="" type="password">
          </div>
          <div class="checkbox">
            <label class="small">
              <input name="terms" type="checkbox">I have read and agree to the <a href="#">terms of service</a>
            </label>
          </div>
          <input class="btn btn-lg btn-primary btn-block" value="Sign Me Up" (click)="signupfuc()"type="submit">
        </fieldset>
      </div>
    </div>
  </div>
</div>
