<nav class="navbar navbar-expand-md navbar-light bg-light">

  <a class="navbar-brand blog text-danger" style="font-size: larger"> <span class="blog text-danger">Bl</span>
    <img src="https://propeller.in/website/wp-content/uploads/2017/04/propeller-icon.svg" width="40" height="40" class="d-inline-block align-center" alt="">
    <span class="blog text-danger">gify</span></a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
    <div class="navbar-nav">
      <a  class="nav-item nav-link" [routerLink]="['/homepage']">Home</a>
      <a  class="nav-item nav-link" [routerLink]="['/myprofile']">MyProfile</a>
      <a href="#" class="nav-item nav-link" [routerLink]="'/finduser'">Find Users</a>
    </div>
<!--    <form class="form-inline">-->
<!--      <div class="input-group">-->
<!--        <input type="text" class="form-control" placeholder="Search">-->
<!--        <div class="input-group-append">-->
<!--          <button type="button" class="btn btn-danger"><i class="fa fa-search"></i></button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="'/addnewblog'" >Add New Blog</a>
      <a class="nav-item nav-link" (click)="logout()">LogOut</a>

    </div>
  </div>
</nav>
