<!--<nav class="navbar navbar-expand-sm bg-primary justify-content-center">-->
<!--  <ul class="navbar-nav">-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link text-light" [routerLink]="['/login']">LOGIN</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link text-light" [routerLink]="['/signup']">SIGN-UP</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->

<ul>
  <li><a href="#" class="round green">Login<span class="round">That is, if you already have an account.</span></a></li>
  <li><a href="#" class="round red">Sign Up<span class="round">But only if you really, really want to. </span></a></li>
  <li><a href="#" class="round yellow">Demo<span class="round">Take a look. This product is totally rad!</span></a></li>
</ul>
<h5 class="text-primary">Welcome to blog</h5>
