<app-nav-bar></app-nav-bar>

<div class="container mt-2">
  <div class="row">
    <div class="col-md-3">
      <div class="osahan-account-page-left shadow-sm bg-white h-100">
        <div class="border-bottom p-4">
          <div class="osahan-user text-center">
            <div class="osahan-user-media">
              <img class="mb-3 rounded-pill shadow-sm mt-1" src="https://bootdey.com/img/Content/avatar/avatar1.png" >
              <div class="osahan-user-media-body">
                <h6 class="mb-1 text-danger">{{userdata.username}}</h6>
                Phn.{{userdata.phn}}<br>
                {{userdata.email}}<br>
                Address:{{userdata.address}}
                <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3" data-toggle="modal" data-target="#edit-profile-modal" (click)="kr()" >EDIT PROFILE</a></p>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
              </div>
              <hr>
              <div>
                <h4 class="text-danger">Following</h4>
                <div *ngFor="let f of folower;">
                  <p class="text-primary">{{f.following.firstname}}</p><hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="osahan-account-page-right shadow-sm bg-white p-2 h-100">
        <div class="leftcolumn">
          <h4 class="text-center blog">YOUR BLOGS</h4>
          <div *ngFor="let b of blogs">
          <div class="card">
            <h4 class="text-danger"><img src="{{b.image}}" style="height: 6%;width: 5%">  {{b.title}}</h4>
            <p>{{b.description}}</p>
            Created On:{{b.date}}|
            Category: {{b.category}}
            <a class="text-primary mr-3" data-toggle="modal" data-target="#edit-blog-modal" (click)="findbyid(b.blogid)">UPDATE BLOG</a>
          <span class="text-danger " (click)="deleteblog(b.blogid)">DELETE BLOG</span>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="disp">
<div class="container">
  <div class="modal fade" id="edit-profile-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title text-danger blog ">UPDATE PROFILE</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form class="form">
            <div class="form-group row">
              <label class="col-lg-4 col-form-label form-control-label">USERNAME</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" name="username" [(ngModel)]="userdata.username" value="{{userdata.username}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label form-control-label">EMAIL</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" name="email" [(ngModel)]="userdata.email" value="{{userdata.email}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label form-control-label">FirstName</label>
              <div class="col-lg-8">
                <input class="form-control" name="firstname" [(ngModel)]="userdata.firstname" value="{{userdata.firstname}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label form-control-label">PaSSWORD</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" name="password" [(ngModel)]="userdata.password" value="{{userdata.password}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label form-control-label">Address</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" name="address" [(ngModel)]="userdata.address" value="{{userdata.address}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label form-control-label">Phone Number</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" name="phn" [(ngModel)]="userdata.phn" value="{{userdata.phn}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label form-control-label">IMAGELINK</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" name="image" [(ngModel)]="userdata.image" value="{{userdata.image}}">
              </div>
            </div>
            <div>
              <div class="btn btn-danger w-20" (click)="updateprofile()">UPDATE
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
















<div class="container">
  <div class="modal fade" id="edit-blog-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title text-danger blog ">UPDATE BLOG</h4>{{  list.blogid }}
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form class="form">
            <div class="form-group row">
              <label class="col-lg-4 col-form-label form-control-label">title</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" name="title" [(ngModel)]="list.title" value="{{list.title}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label form-control-label">DESCRIPTION</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" name="email" [(ngModel)]="list.description" value="{{list.description}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label form-control-label">Image</label>
              <div class="col-lg-8">
                <input class="form-control" name="firstname" [(ngModel)]="list.image" value="{{list.image}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label form-control-label">CATEGORY</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" name="password" [(ngModel)]="list.category" value="{{list.category}}">
              </div>
            </div>

            <div>
              <div class="btn btn-danger w-20" (click)="updatethisblog(list.blogid)">UPDATE BLOG
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
