<nav class="navbar navbar-expand-md navbar-light bg-light">

  <a class="navbar-brand blog text-danger" style="font-size: larger"> <span class="blog text-danger">Bl</span>
    <img src="https://propeller.in/website/wp-content/uploads/2017/04/propeller-icon.svg" width="40" height="40" class="d-inline-block align-center" alt="">
    <span class="blog text-danger">gify</span></a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
    <div class="navbar-nav">
      <a  class="nav-item nav-link" [routerLink]="['/homepage']" (click)="hm">Home</a>
      <a  class="nav-item nav-link" [routerLink]="['/myprofile']">MyProfile</a>
      <a href="#" class="nav-item nav-link" [routerLink]="'/finduser'">Find Users</a>
<!--        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Messages</a>-->
<!--        <div class="dropdown-menu">-->
<!--          <a href="#" class="dropdown-item">Inbox</a>-->
<!--          <a href="#" class="dropdown-item">Sent</a>-->
<!--          <a href="#" class="dropdown-item">Drafts</a>-->
<!--        </div>-->
        <div class="nav-item nav-link">Category : <select (change)="selectChangeHandler($event)">
          <option>Select</option>
          <option value="technology">Technology</option>
          <option value="Food">Food</option>
          <option value="Quote">Quotes</option>
        </select>
        </div>
    </div>
    <form class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="title" [(ngModel)]="title">
        <div class="input-group-append">
          <button type="button" class="btn btn-danger" (click)="search()"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="'/addnewblog'" >Add New Blog</a>
      <a class="nav-item nav-link" (click)="logout()">LogOut</a>

    </div>
  </div>
</nav>

<div class="main px-5">
  <div class="container">
<div class="row  px-4">
  <div class="leftcolumn">
    <div *ngFor="let b of blogs">
    <div class="card">
      <h2 class="text-danger blog">{{b.title}}</h2>
      <img style="height:150px;width: 300px" src="{{b.image}}">
      Category: {{b.category}}|
      Created Date:{{b.date}}
      <hr>
      <h6 class="blog text-danger">{{b.title}}</h6>
      <p>{{b.description}}</p>
      <h6>Author: {{b.users.username}}</h6>
      <hr>
    </div>

    </div>
<!--    <div class="card">-->
<!--      <h2>TITLE HEADING</h2>-->
<!--      <h5>Title description, Sep 2, 2017</h5>-->
<!--      <div class="fakeimg" style="height:200px;">Image</div>-->
<!--      <p>Some text..</p>-->
<!--      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>-->
<!--    </div>-->
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h4>Top Bloggers</h4>
      <div class="chip" (click)="goTobloggerprofile(1)">
        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Person" width="96" height="96">
        Ritika
      </div>
      <div class="chip mt-1" (click)="goTobloggerprofile(6)">
      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Person" width="96" height="96" >
      Rahul
    </div>
      <div class="chip mt-1" (click)="goTobloggerprofile(2)">
        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Person" width="96" height="96">
        Roshni
      </div>
    </div>
    <div class="card">
      <h3 class="text-center">Popular Blogs</h3>
      <div><img class="fakeimg" src="../../assets/images/blog2.jpg"></div><br><hr>
      <div ><img class="fakeimg" src="../../assets/images/food2.jpg"></div><br><hr>
      <div ><img class="fakeimg" src="../../assets/images/quote1.png"></div>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>

</div>
</div>
