<app-nav-bar></app-nav-bar>
<div class="main">
  <div class="container">
  <div class="row">
    <div class="leftcolumn col-8">
      <div>
      <div *ngFor="let b of blogs">
      <div class="card">
        <h2 class="text-danger"><img src="{{b.image}}" style="height:100px; width: 100px">  {{b.title}}</h2>
        <hr>
        <p>{{b.description}}</p>
        Created on:{{b.date}}
      </div>
      </div>
      </div>
      <div *ngIf="noblog" class="text-center border-top ">
        NO BLOGS YET
      </div>
    </div>
    <div class="rightcolumn border-top">
      <div class="card">
        <h4 class="text-center">Profile</h4>
        <div class="text-center"><img src="../../assets/images/profile1.jpg" style="border-radius:50%; height: 150px; width: 150px"></div>
        <p class="text-center">Name:{{userdata.username}}</p>
        <p class="text-center">{{userdata.email}}</p>
        <div class="text-center">
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
